/*
 * Copyright (c) 2026 Caspar Friedrich <c.s.w.friedrich@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/h7/stm32h743Xi.dtsi>
#include <st/h7/stm32h743iitx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "STM32H743IIT6 CB V1.5";
	compatible = "others,stm32h743iit6_cb_v1_5";

	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &lpuart1;
		zephyr,dtcm = &dtcm;
		zephyr,flash = &flash0;
		zephyr,itcm = &itcm;
		zephyr,shell-uart = &lpuart1;
		zephyr,sram = &sram0;
		zephyr,uart-mcumgr = &lpuart1;
	};

	sdram1: sdram@c0000000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		device_type = "memory";
		reg = <0xc0000000 DT_SIZE_M(32)>;
		zephyr,memory-region = "SDRAM1";
		zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM)>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		btn_key0: btn_key0 {
			gpios = <&gpioa 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		btn_wkup: btn_wkup {
			gpios = <&gpioa 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			zephyr,code = <INPUT_KEY_W>;
		};
	};

	gpio_leds {
		compatible = "gpio-leds";

		led_green: led_green {
			gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
		};

		led_blue: led_blue {
			gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led_green;
		led1 = &led_blue;
		sw0 = &btn_key0;
		sw1 = &btn_wkup;
		sram-ext = &sdram1;
	};
};

&clk_hse {
	status = "okay";
	clock-frequency = <DT_FREQ_M(25)>;
};

&clk_lse {
	status = "okay";
};

&pll {
	status = "okay";
	clocks = <&clk_hse>;
	div-m = <5>;
	mul-n = <192>;
	div-p = <2>; /* 480 MHz -> SYSCLK */
	div-q = <4>; /* 240 MHz (PLL1_Q) -> RNG, SDMMC1 */
	div-r = <2>; /* 480 MHz (PLL1_R) */
};

&pll3 {
	status = "okay";
	clocks = <&clk_hse>;
	div-m = <5>;
	mul-n = <192>;
	div-p = <2>;  /* 480 MHz (PLL3_P) */
	div-q = <20>; /*  48 MHz (PLL3_Q) -> USB */
	div-r = <2>;  /* 480 MHz (PLL3_R) */
};

&rcc {
	status = "okay";
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(480)>;
	d1cpre  = <1>; /* 480 MHz -> CPU, SYSTICK */
	hpre    = <2>; /* 240 MHz (HCLK3) */
	d1ppre  = <2>; /* 120 MHz (PCLK3) */
	d2ppre1 = <2>; /* 120 MHz (PCLK1) */
	d2ppre2 = <2>; /* 120 MHz (PCLK2) */
	d3ppre  = <2>; /* 120 MHz (PCLK4) */
};

&pwr {
	power-supply = "ldo";
};

&rng {
	status = "okay";
	clocks = <&rcc STM32_CLOCK(AHB2, 6U)>,
	         <&rcc STM32_SRC_PLL1_Q RNG_SEL(1)>;
};

&rtc {
	status = "okay";
	clocks = <&rcc STM32_CLOCK(APB4, 16U)>,
	         <&rcc STM32_SRC_LSE RTC_SEL(1)>;
};

&lpuart1 {
	status = "okay";
	pinctrl-0 = <&lpuart1_tx_pa9
	             &lpuart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&fmc {
	status = "okay";
	pinctrl-0 = <&fmc_a0_pf0
	             &fmc_a1_pf1
	             &fmc_a2_pf2
	             &fmc_a3_pf3
	             &fmc_a4_pf4
	             &fmc_a5_pf5
	             &fmc_a6_pf12
	             &fmc_a7_pf13
	             &fmc_a8_pf14
	             &fmc_a9_pf15
	             &fmc_a10_pg0
	             &fmc_a11_pg1
	             &fmc_a12_pg2
	             &fmc_a14_pg4 /* BS0 */
	             &fmc_a15_pg5 /* BS1 */
	             &fmc_d0_pd14
	             &fmc_d1_pd15
	             &fmc_d2_pd0
	             &fmc_d3_pd1
	             &fmc_d4_pe7
	             &fmc_d5_pe8
	             &fmc_d6_pe9
	             &fmc_d7_pe10
	             &fmc_d8_pe11
	             &fmc_d9_pe12
	             &fmc_d10_pe13
	             &fmc_d11_pe14
	             &fmc_d12_pe15
	             &fmc_d13_pd8
	             &fmc_d14_pd9
	             &fmc_d15_pd10
	             &fmc_nbl0_pe0
	             &fmc_nbl1_pe1
	             &fmc_sdcke0_ph2
	             &fmc_sdclk_pg8
	             &fmc_sdncas_pg15
	             &fmc_sdne0_ph3
	             &fmc_sdnras_pf11
	             &fmc_sdnwe_pc0>;
	pinctrl-names = "default";
};

&sdram {
	status = "okay";
	mode-register = <0>;
	num-auto-refresh = <1>;
	power-up-delay = <200>;
	refresh-rate = <1920>;

	bank@0 {
		reg = <0>;
		st,sdram-control = <STM32_FMC_SDRAM_NC_9
		                    STM32_FMC_SDRAM_NR_13 /* FIXME: Should be 12 */
		                    STM32_FMC_SDRAM_MWID_16
		                    STM32_FMC_SDRAM_NB_4
		                    STM32_FMC_SDRAM_CAS_2
		                    STM32_FMC_SDRAM_SDCLK_PERIOD_2
		                    STM32_FMC_SDRAM_RBURST_ENABLE
		                    STM32_FMC_SDRAM_RPIPE_1>;
		// FIXME: Seems to work but unclear if correct
		st,sdram-timing = <2 7 4 7 3 2 2>;
	};
};

&quadspi {
	status = "okay";
	pinctrl-0 = <&quadspi_bk1_io0_pf8
	             &quadspi_bk1_io1_pf9
	             &quadspi_bk1_io2_pf7
	             &quadspi_bk1_io3_pf6
	             &quadspi_bk1_ncs_pb6
	             &quadspi_clk_pb2>;
	pinctrl-names = "default";

	gd25q128e@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		size = <DT_SIZE_M(128)>;
		qspi-max-frequency = <DT_FREQ_M(80)>;
	};
};

&sdmmc1 {
	status = "disabled";
	pinctrl-0 = <&sdmmc1_ck_pc12
	             &sdmmc1_cmd_pd2
	             &sdmmc1_d0_pc8
	             &sdmmc1_d1_pc9
	             &sdmmc1_d2_pc10
	             &sdmmc1_d3_pc11>;
	pinctrl-names = "default";
};

zephyr_udc0: &usbotg_fs {
	status = "okay";
	pinctrl-0 = <&usb_otg_fs_dm_pa11
	             &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	clocks = <&rcc STM32_CLOCK(AHB1, 27U)>,
	         <&rcc STM32_SRC_PLL3_Q USB_SEL(2)>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(960)>;
		};

		slot1_partition: partition@100000 {
			label = "image-1";
			reg = <0x00100000 DT_SIZE_K(960)>;
		};

		storage_partition: partition@1f0000 {
			label = "storage";
			reg = <0x001f0000 DT_SIZE_K(64)>;
		};
	};
};


&ext_memory {
	reg = <0x90000000 DT_SIZE_M(128)>;
};
